<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  <ion-header>

    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>

  </ion-header>
-->

<ion-content class="background-image">
  <div class="cover"></div>
  <div class="content1"><img src="../assets/icon/world.svg" /></div>
  <div padding-horizontal>
    <ion-item>
      <ion-icon name="ios-person-outline" item-left color="light"></ion-icon>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-key-outline" item-left color="light"></ion-icon>
      <ion-input type="text" placeholder="Password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col text-right>
        <button ion-button clear color="light">Forgot Password?</button>
      </ion-col>
    </ion-row>

    <button ion-button block>Sign In</button>
    <button ion-button block clear color="light">Don't have an account?</button>
  </div>
</ion-content>
