page-login {
  .background-image {
    background-image: url(https://www.isanesth.org/wp-content/uploads/2017/10/Calgarys-Tourist-Spots-732x380.jpg);
    background-size: cover;
    background-position: center;
  }
  .cover {
    background-color: rgba(190, 198, 222, 0.69);
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .content1 {
    padding: 115px;
    transform: translateZ(0);
  }

  .item-md {
    background-color: transparent;
    //color: #fff;
  }
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white !important;
  }
}
