page-location {
    .cover{
        background-color:  rgba(74,79,93,0.69);   
    }
    .searchbar-md{
        margin-top: 89px;
    }
    .searchbar-md .searchbar-input {
        padding: 6px 47px;       
    }
    .item-md ion-avatar img {
        border-radius:0;
        width: 55px;
        height: 55px;
    }
    .button-favourite{
        margin-top: -57px;
        border-color: #0098d4;
    }
}
