<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Location</ion-title>
  </ion-navbar>
  <div class="background-image" style="background-image: url(https://www.isanesth.org/wp-content/uploads/2017/10/Calgarys-Tourist-Spots-732x380.jpg);">
    <div class="cover">
      <ion-row>
        <ion-col>
          <ion-searchbar placeholder="Where would you love to travel?"></ion-searchbar>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-header>

<ion-content>
  <h5 padding-left>Popular destinations</h5>
  <ion-list>
    <ion-item (click)="locationClick()">
      <ion-avatar item-left>
        <img src="http://wikitravel.org/upload/en/thumb/2/23/Us-ca-sanfran-goldengate.jpg/350px-Us-ca-sanfran-goldengate.jpg">
      </ion-avatar>
      <h2>San Fransisco, CA</h2>
      <p>
        <ion-icon name="ios-pin-outline"></ion-icon> USA
      </p>
      <ion-buttons end>
        <button ion-button clear icon-only class="button-favourite">
          <ion-icon name="ios-heart-outline"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
    <ion-item>
        <ion-avatar item-left>
          <img src="http://d2akrl9rvxl3z3.cloudfront.net/img/original/8411_wwf_cn_tower_climb_facebook_carousel_3_image_1.jpg">
        </ion-avatar>
        <h2>Toronto, Ontario</h2>
        <p>
          <ion-icon name="ios-pin-outline"></ion-icon> Canada
        </p>
        <ion-buttons end>
          <button ion-button clear icon-only class="button-favourite">
            <ion-icon name="ios-heart-outline"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
      <ion-item>
          <ion-avatar item-left>
            <img src="https://cdn2.veltra.com/ptr/20170516082216_81388487_12055_0.jpg?imwidth=550&impolicy=custom">
          </ion-avatar>
          <h2>Venice</h2>
          <p>
            <ion-icon name="ios-pin-outline"></ion-icon> Veneto
          </p>
          <ion-buttons end>
            <button ion-button clear icon-only class="button-favourite">
              <ion-icon name="ios-heart-outline"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
              <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4QzIh6IZqgC3nYF3dq-BuH3DQWc8kqzzOR3RziVo-hhjNDKFv">
            </ion-avatar>
            <h2>reykjavik</h2>
            <p>
              <ion-icon name="ios-pin-outline"></ion-icon> Iceland
            </p>
            <ion-buttons end>
              <button ion-button clear icon-only class="button-favourite">
                <ion-icon name="ios-heart-outline"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item>
  </ion-list>
</ion-content>