<!--
  Generated template for the GetStartedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  <ion-header>

    <ion-navbar>
      <ion-title>GetStarted</ion-title>
    </ion-navbar>

  </ion-header>
-->

<ion-content>
  <ion-slides pager>
    <ion-slide>
      <p padding ion-text color="light" class="main-content">
        The standard Lorem Ipsum passage, used since the 1500s. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.
      </p>
    </ion-slide>
    <ion-slide>
      <p padding ion-text color="light" class="main-content">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
    </ion-slide>
    <ion-slide>
      <p padding ion-text color="light" class="main-content">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."
      </p>
    </ion-slide>
  </ion-slides>

  <div class="background-image">
    <div class="cover">
      <div class="content1"><img src="../assets/icon/world.svg" /></div>
    </div>
    <ion-row>
      <ion-col padding-horizontal class="btn-start">
        <button ion-button block outline color="light" (click)="btnStart()">
          Get Started
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
