page-get-started {
  .background-image {
    top: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url(https://www.isanesth.org/wp-content/uploads/2017/10/Calgarys-Tourist-Spots-732x380.jpg);
  }
  .cover {
    height: -webkit-fill-available;
    background-color: rgba(190, 198, 222, 0.69);
  }
  .content1 {
    padding: 115px;
    transform: translateZ(0);
  }
  .main-content {
    margin-top: 50%;
  }
  .btn-start {
    bottom: 50px;
    z-index: 999;
    position: absolute;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
  }
  .swiper-pagination-bullets {
    bottom: 20px !important;
  }
  .swiper-pagination-bullet-active {
    background: white !important;
  }
}
