<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="background-image" style="background-image: url(https://www.isanesth.org/wp-content/uploads/2017/10/Calgarys-Tourist-Spots-732x380.jpg);">
    <div class="cover">
      <ion-row>
        <ion-col col-3>
        </ion-col>
        <ion-col col-6 class="profile-pic">
          <img src="http://www.ifairer.com/article_image/1507355302-ifairer.jpg">
        </ion-col>
      </ion-row>
      <h4 class="traveller-name">Sharad Kelkar</h4>
      <p text-center no-margin style="color: #fff">An Actor</p>
      <p text-center style="color: #fff">Sharad Kelkar is an Indian actor, who appears in mainly Hindi films and television serials. He is also
        a former physical trainer. He started his career as a gym instructor followed by modeling.</p>
        <ion-row>
          <ion-col text-center>
            <button ion-button outline color="light">Follow</button>
          </ion-col>
        </ion-row>
      <ion-row style="color: #fff">
        <ion-col col-3 >
          <h4 text-center>50K</h4>
          <p text-center no-margin>Posts</p>
        </ion-col>
        <ion-col col-3>
          <h4 text-center>50K</h4>
          <p text-center no-margin>Likes</p>
        </ion-col>
        <ion-col col-3>
          <h4 text-center>100K</h4>
          <p text-center no-margin>Followers</p>
        </ion-col>
        <ion-col col-3>
          <h4 text-center>500K</h4>
          <p text-center no-margin>Followings</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-card class="card-background-image">
    <img src="http://lorempixel.com/400/200/nature" />
    <div class="place-title">Wonders Of Canada</div>
  </ion-card>
  <ion-card class="card-background-image">
    <img src="http://lorempixel.com/400/200/nature" />
    <div class="place-title">Wonders Of Canada</div>
  </ion-card>
  <ion-card class="card-background-image">
    <img src="http://lorempixel.com/400/200/nature" />
    <div class="place-title">Wonders Of Canada</div>
  </ion-card>
</ion-content>