page-profile {
    .background-image{
        background-size: cover;
    }
    .cover{
        padding: 2em 1em; 
        background-color:  rgba(74,79,93,0.69);
    }
    .profile-pic{
        img{
            height: 175px;
            width: 185px;
            border-radius: 87px;
            border: 1px solid #fff;
        }
    }
    
    .traveller-name{
        font-weight: 600;
        text-align: center;
        line-height: 1px;
        color: #fff;
    }
   
    .card-background-image{
        position: relative;
        img{
            height: 100px;
        }  
        .place-title{
            top: 35%;
            left: 25%;
            color: #fff;
            font-size: 2.0rem;
            position: absolute;
        }
    }
    
}
