page-home {
  .card-background-image{
    position: relative;
    img{
      min-width: 100%;
    }
  }
  .cover{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(74,79,93,0.69);    
    
    .title{
      margin-top: 15%;
      color: #fff;
      text-align: center;
    }
    .place-title{
      margin-top: 10px;
      color: #fff;
      font-size: 2.0rem;
      text-align: center;    
    }
  }
  .place-duration{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .card-md{
    margin-bottom: 0;
    border: 1px solid #fff;
  }
}



