<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="card-background-image" (click)="clickLocation()">
    <img src="https://www.isanesth.org/wp-content/uploads/2017/10/Calgarys-Tourist-Spots-732x380.jpg" />
    <div class="cover">
      <div class="title">Natural & Landmarks</div>
      <div class="place-title"><strong>Wonders Of Canada</strong></div>
      <ion-row class="place-duration">
        <ion-col>
          <span>
            <ion-icon name="ios-pin-outline"></ion-icon>
            80 places
          </span>
          <span margin-left>
            <ion-icon name="ios-calendar-outline"></ion-icon> Duration 10 days
          </span>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="card-background-image">
    <img src="https://www.tandem-schools.com/ti/wp-content/uploads/milan-italy.jpg" />
    <div class="cover">
      <div class="title">History & Culture</div>
      <div class="place-title"><strong>Treasures Of Italy</strong></div>
      <ion-row class="place-duration">
        <ion-col>
          <span>
            <ion-icon name="ios-pin-outline"></ion-icon>75 places
          </span>
          <span margin-left>
            <ion-icon name="ios-calendar-outline"></ion-icon> Duration 7 days
          </span>
        </ion-col>
      </ion-row>>
    </div>
  </div>
  <div class="card-background-image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVmorYOFgTjd70p1a5eCCmJj8zFfHVCfMI8-oo-z3Z3xUb0Hoc" />
    <div class="cover">
      <div class="title">Heritage & History</div>
      <div class="place-title"><strong>Praugue At Night</strong></div>
      <ion-row class="place-duration">
        <ion-col>
          <span>
            <ion-icon name="ios-pin-outline"></ion-icon> 20 places
          </span>
          <span  margin-left>
            <ion-icon name="ios-calendar-outline"></ion-icon> Duration 3 hpurs
          </span>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>