<ion-menu [content]="content">
  <ion-content>
    <div class="menu-main">
      <div class="itm" menuClose (click)="clickHome()">
        <ion-icon name="ios-home-outline" class="icon-image"></ion-icon>
        <div class="menu-name">Home</div>
      </div>
      <div class="itm" menuClose (click)="clickLocation()">
        <ion-icon name="ios-pin-outline" class="icon-image"></ion-icon>
        <div class="menu-name">Locations</div>
      </div>
      <div class="itm" menuClose>
        <ion-icon name="ios-heart-outline" class="icon-image"></ion-icon>
        <div class="menu-name">Favourites</div>
      </div>
      <div class="itm" menuClose>
        <ion-icon name="ios-happy-outline" class="icon-image"></ion-icon>
        <div class="menu-name">Wishlist</div>
      </div>
      <div class="itm" menuClose (click)="clickProfile()">
        <ion-icon name="ios-person-outline" class="icon-image"></ion-icon>
        <div class="menu-name">Profile</div>
      </div>
      <div class="itm" menuClose (click)="clickLogOut()">
        <ion-icon name="ios-power-outline" class="icon-image"></ion-icon>
        <div class="menu-name">Log out</div>
      </div>
    </div>
  </ion-content>
</ion-menu>

<!--
  Disable swipe-to-go-back because it's poor UX to combine STGB with side menus
-->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
