@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600');
.menu-icon{
    text-align: center;
}
.menu-name{
    text-align: center;
    font-size: medium;
}

.menu-main{
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}
.itm{
    // flex: 3;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: #00bcd4;
}
.icon-image{
    font-size: xx-large;
}
.buttons{
    // margin-left: 130px;
    border-color: #fff;
    color: #fff;
}
.popover-md{   
    ion-backdrop{
        opacity: 1;
        background-color: rgba(74,79,93,0.69);    
    }
}
