<!--
  Generated template for the LocationDetailPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
    <ion-title>Location Detail</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content>
  <div class="location-image">
    <img src="http://www.camilaroza.com.br/wp-content/uploads/2014/01/454d55babf36345d604731348642db76.jpg">
    <div class="location-brief">
      <strong ion-text color="primary" padding-horizontal>History $ Culture</strong>
      <h2 style="color: #fff" padding-horizontal>CN Tower, Toronto</h2>
      <p style="color: #fff" padding-horizontal>Multicultural cities, beautiful landmarks, rich history and amazing people.</p>
      <p ion-text color="light">
        <ion-icon name="ios-chatbubbles-outline" padding-horizontal style="color: #fff"></ion-icon>  80 Comments
      </p>
    </div>
  </div>
  <h1 text-center>Headings</h1>
  <p padding text-center class="Discription">
    The CN Tower is a 553.3 m-high concrete communications and observation tower located in Downtown Toronto, Ontario, Canada. Built on the former Railway Lands, it was completed in 1976. Its name "CN" originally referred to Canadian National, the railway company that built the tower.
  </p>
</ion-content>