page-location-detail {
    .location-image{
        position: relative;
        img{
            height: -webkit-fill-available;
            width: -webkit-fill-available;
        }
    }
    .location-brief{
        position: absolute;
    padding-top: 25%;
    padding-bottom: 5%;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.0), #000 80%);
    }
    .Discription{
        padding: 3px 8px 3px 8px;
        text-align: justify;
    }
}

